<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Payment\Model\MethodList">
        <plugin name="restrict_payment_on_shippingmethod" type="Magecomp\Restrictpaymentbyship\Plugin\Model\Methodlist"
                sortOrder="10"/>
    </type>
</config>
